<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tc-ejerc-heading" jhiTranslate="fronterizaApp.serviciosTcEjerc.home.createOrEditLabel">Create or edit a Tc Ejerc</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fronterizaApp.serviciosTcEjerc.clave" for="field_clave">Clave</label>
                    <input type="text" class="form-control" name="clave" id="field_clave"
                           formControlName="clave"/>
                    <div *ngIf="editForm.get('clave')!.invalid && (editForm.get('clave')!.dirty || editForm.get('clave')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clave')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fronterizaApp.serviciosTcEjerc.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                    <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fronterizaApp.serviciosTcEjerc.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
                    <div class="d-flex">
                        <input id="field_fechaInicio" type="datetime-local" class="form-control" name="fechaInicio" formControlName="fechaInicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fronterizaApp.serviciosTcEjerc.fechaFin" for="field_fechaFin">Fecha Fin</label>
                    <div class="d-flex">
                        <input id="field_fechaFin" type="datetime-local" class="form-control" name="fechaFin" formControlName="fechaFin" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
