<div>
    <h2 id="page-heading">
        <span jhiTranslate="rfcrfApp.tdRegFront.home.title">Td Reg Fronts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-td-reg-front" [routerLink]="['/td-reg-front/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rfcrfApp.tdRegFront.home.createLabel">
            Create a new Td Reg Front
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tdRegFronts?.length === 0">
        <span jhiTranslate="rfcrfApp.tdRegFront.home.notFound">No tdRegFronts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tdRegFronts && tdRegFronts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="region"><span jhiTranslate="rfcrfApp.tdRegFront.region">Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domicilioRegion"><span jhiTranslate="rfcrfApp.tdRegFront.domicilioRegion">Domicilio Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sucursalRegion"><span jhiTranslate="rfcrfApp.tdRegFront.sucursalRegion">Sucursal Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoImpuestod"><span jhiTranslate="rfcrfApp.tdRegFront.tipoImpuestod">Tipo Impuestod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoSolicitudd"><span jhiTranslate="rfcrfApp.tdRegFront.tipoSolicitudd">Tipo Solicitudd</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ejerciciod"><span jhiTranslate="rfcrfApp.tdRegFront.ejerciciod">Ejerciciod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estatus"><span jhiTranslate="rfcrfApp.tdRegFront.estatus">Estatus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="folio"><span jhiTranslate="rfcrfApp.tdRegFront.folio">Folio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rfc"><span jhiTranslate="rfcrfApp.tdRegFront.rfc">Rfc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="rfcrfApp.tdRegFront.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usuario"><span jhiTranslate="rfcrfApp.tdRegFront.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoSolicitudDescripcion"><span jhiTranslate="rfcrfApp.tdRegFront.tipoSolicitud">Tipo Solicitud</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoImpuestoDescripcion"><span jhiTranslate="rfcrfApp.tdRegFront.tipoImpuesto">Tipo Impuesto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ejercicioValor"><span jhiTranslate="rfcrfApp.tdRegFront.ejercicio">Ejercicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tdRegFront of tdRegFronts ;trackBy: trackId">
                    <td><a [routerLink]="['/td-reg-front', tdRegFront.id, 'view']">{{ tdRegFront.id }}</a></td>
                    <td>{{ tdRegFront.region }}</td>
                    <td>{{ tdRegFront.domicilioRegion }}</td>
                    <td>{{ tdRegFront.sucursalRegion }}</td>
                    <td>{{ tdRegFront.tipoImpuestod }}</td>
                    <td>{{ tdRegFront.tipoSolicitudd }}</td>
                    <td>{{ tdRegFront.ejerciciod }}</td>
                    <td>{{ tdRegFront.estatus }}</td>
                    <td>{{ tdRegFront.folio }}</td>
                    <td>{{ tdRegFront.rfc }}</td>
                    <td>{{ tdRegFront.fecha | date:'medium' }}</td>
                    <td>{{ tdRegFront.usuario }}</td>
                    <td>
                        <div *ngIf="tdRegFront.tipoSolicitudId">
                            <a [routerLink]="['/tc-tipo-sol', tdRegFront.tipoSolicitudId , 'view']" >{{ tdRegFront.tipoSolicitudDescripcion }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tdRegFront.tipoImpuestoId">
                            <a [routerLink]="['/tc-tipo-imp', tdRegFront.tipoImpuestoId , 'view']" >{{ tdRegFront.tipoImpuestoDescripcion }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tdRegFront.ejercicioId">
                            <a [routerLink]="['/tc-ejerc', tdRegFront.ejercicioId , 'view']" >{{ tdRegFront.ejercicioValor }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/td-reg-front', tdRegFront.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/td-reg-front', tdRegFront.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tdRegFront)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tdRegFronts && tdRegFronts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
