<div class="layout-topbar">
    

<div class="topbar-content">
        <a href="#" id="topbar-sidebar-button" (click)="app.onMenuButtonClick($event)">
            <i class="pi pi-bars"></i>
        </a>               
        <a href="/" class="logo-container">
            <img class="logo" alt="Servicio de Administración Tributaria" src="../assets/layout/images/logo_shcp_sat.svg" />
        </a>

    <div class="container-fluid bgTit">
        
        <div class="container">          
            
                
                <div class="col-md-1 text-xs-center text-sm-center text-md-right">
                    
                    <div class="row align-items-center">                     
                        
                        <div class="col-7 text-left" [ngSwitch]="isAuthenticated()">
                            <p class="small mb-0"><b>{{ (account != null) ? (account.rfc | uppercase) : "" }}<b></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-1 text-xs-center text-sm-center text-md-right">
                    <div class="row align-items-center">                     
                        
                        <div class="col-7 text-left" [ngSwitch]="isAuthenticated()">
                            <p class="small mb-0"><b>{{ (account != null) ? (account.firstName | uppercase) : "" }}<b></p>
                        </div>

                    </div>

                </div>
                
            
        </div>

    </div>    

</div>

        
        
            
</div>
