
    
<div class="row justify-content-center">
	<div class="p-col-10">

		<p-toast></p-toast>

		<div class="card p-shadow-18">
			<p-toolbar styleClass="p-mb-4">
				
					<button pButton pRipple label="Registrar Nueva Solicitud" icon="pi pi-plus" class="p-button-success p-mr-2" [routerLink]="['/td-reg-front/new']"></button>
					<button pButton pRipple label="Reimprimir" icon="pi pi-print" class="p-button-success p-mr-2" [disabled]="!selectedProducts || !selectedProducts.length"></button>
				
			</p-toolbar>

			<p-table #dt styleclass=".p-datatable-striped" [value]="tdRegFronts" [rows]="10" [paginator]="true" 
					 [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
					 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} en Total" [showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-ai-center p-jc-between">
						<h5 class="p-m-0">Solicitudes Registradas</h5>						
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>						
						<th pSortableColumn="tipoSolicitudDescripcion">Solicitud</th>
						<th pSortableColumn="tipoImpuestoDescripcion">Impuesto </th>
						<th pSortableColumn="ejercicioValor">Ejercicio </th>
						<th pSortableColumn="estatus">Estatus </th>
						<th pSortableColumn="Folio">Folio </th>
						<th pSortableColumn="Fecha">Fecha </th>						
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr>
						<td>
							<p-tableCheckbox [value]="product"></p-tableCheckbox>
						</td>                        
						<td>{{product.tipoSolicitudDescripcion}}</td>						
                        <td>{{product.tipoImpuestoDescripcion}}</td>						
						<td>{{product.ejercicioValor}}</td>						
						<td><span [class]="'product-badge status-'+product.estatus.toLowerCase()">{{product.estatus}}</span></td>
						<td>{{product.folio}}</td>	
						<td>{{product.fecha | date: 'dd/MM/yyyy'}}</td>							
					</tr>
				</ng-template>				
			</p-table>
		</div>

		
		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
	</div>
</div>




