<div>
    <h2 id="page-heading">
        <span jhiTranslate="fronterizaApp.serviciosTcManifes.home.title">Tc Manifes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tc-manifes" [routerLink]="['/tc-manifes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fronterizaApp.serviciosTcManifes.home.createLabel">
            Create a new Tc Manifes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tcManifes?.length === 0">
        <span jhiTranslate="fronterizaApp.serviciosTcManifes.home.notFound">No tcManifes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tcManifes && tcManifes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clave"><span jhiTranslate="fronterizaApp.serviciosTcManifes.clave">Clave</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="fronterizaApp.serviciosTcManifes.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="moral"><span jhiTranslate="fronterizaApp.serviciosTcManifes.moral">Moral</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fisica"><span jhiTranslate="fronterizaApp.serviciosTcManifes.fisica">Fisica</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isr"><span jhiTranslate="fronterizaApp.serviciosTcManifes.isr">Isr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iva"><span jhiTranslate="fronterizaApp.serviciosTcManifes.iva">Iva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tcManifes of tcManifes ;trackBy: trackId">
                    <td><a [routerLink]="['/tc-manifes', tcManifes.id, 'view']">{{ tcManifes.id }}</a></td>
                    <td>{{ tcManifes.clave }}</td>
                    <td>{{ tcManifes.descripcion }}</td>
                    <td>{{ tcManifes.moral }}</td>
                    <td>{{ tcManifes.fisica }}</td>
                    <td>{{ tcManifes.isr }}</td>
                    <td>{{ tcManifes.iva }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tc-manifes', tcManifes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tc-manifes', tcManifes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tcManifes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tcManifes && tcManifes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
