 <!--Main layout-->
    <div class="container">
        <div class="row py-3">
            <!-- Visible en Desktop -->
            <div class="col-12 d-none d-md-none d-lg-block d-xl-block text-center">
                <img src="../../assets/layout/images/Desktop.jpg" class="img-fluid" style="max-width: 800px;">
            </div>
            <!-- /Visible en Desktop -->
            <!-- Visible en Tablet -->
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none d-xl-none text-center">
                <img src="../../assets/layout/images/Tablet.jpg" class="img-fluid">
            </div>
            <!-- /Visible en Movil -->
            <div class="col-12 d-xs-block d-sm-none d-md-none d-lg-none d-xl-none text-center">
                <img src="../../assets/layout/images/Smartphone.jpg" class="img-fluid">
            </div>
            <!-- /Visible en Movil -->
        </div>

        <div class="row pb-4">
            <div class="col-12 text-center">
                <p class="mb-1"><b>Bienvenido</b></p>
                <h1 class="blueColor mb-2"><b>Contabilidad S.A.</b></h1>
                <a class="btn blueButton btn-lg" href="configuracion.html" target="_self">Presentar declaración</a>
            </div>
        </div>
    </div>
    <!--/Main layout-->

