<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tcTipoImp">
            <h2><span jhiTranslate="rfcrfApp.tcTipoImp.detail.title">Tc Tipo Imp</span> {{ tcTipoImp.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rfcrfApp.tcTipoImp.clave">Clave</span></dt>
                <dd>
                    <span>{{ tcTipoImp.clave }}</span>
                </dd>
                <dt><span jhiTranslate="rfcrfApp.tcTipoImp.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ tcTipoImp.descripcion }}</span>
                </dd>
                <dt><span jhiTranslate="rfcrfApp.tcTipoImp.fechaInicio">Fecha Inicio</span></dt>
                <dd>
                    <span>{{ tcTipoImp.fechaInicio }}</span>
                </dd>
                <dt><span jhiTranslate="rfcrfApp.tcTipoImp.fechaFin">Fecha Fin</span></dt>
                <dd>
                    <span>{{ tcTipoImp.fechaFin }}</span>
                </dd>
                <dt><span jhiTranslate="rfcrfApp.tcTipoImp.usuario">Usuario</span></dt>
                <dd>
                    <span>{{ tcTipoImp.usuario }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tc-tipo-imp', tcTipoImp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
